<article class="post">
    <div class="title">
        <span>
            <strong><a href="/posts/{{id}}">{{title}}</a></strong>
        </span>
        <span style="float:right">Posted by <em>{{user.user_name}}</em> on {{format_date createdAt}}</span>
        <br>
        <span style="float:right">{{comments.length}} {{format_plural "comment" comments.length}}</span>
    </div>
    <br>
    <div class="content">
        <p>{{post_content}}</p>
    </div>
</article>